# Imports

In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 

from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error

2024-01-14 09:36:00.569880: I tensorflow/core/util/port.cc:113] oneDNN custom operations are on. You may see slightly different numerical results due to floating-point round-off errors from different computation orders. To turn them off, set the environment variable `TF_ENABLE_ONEDNN_OPTS=0`.
2024-01-14 09:36:00.633206: I external/local_tsl/tsl/cuda/cudart_stub.cc:31] Could not find cuda drivers on your machine, GPU will not be used.
2024-01-14 09:36:00.927449: E external/local_xla/xla/stream_executor/cuda/cuda_dnn.cc:9261] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
2024-01-14 09:36:00.927525: E external/local_xla/xla/stream_executor/cuda/cuda_fft.cc:607] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
2024-01-14 09:36:00.979664: E external/local_xla/xla/stream_executor/cuda/cuda_blas.cc:1515] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
2024-01-14 09:36:01.093794: I external/local_tsl/tsl/cuda/cudart_stub.cc:31] Could not find cuda drivers on your machine, GPU will not be used.
2024-01-14 09:36:01.095949: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 AVX512F AVX512_VNNI FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2024-01-14 09:36:02.225736: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

In [2]:
x_train = pd.read_csv("data/X_train.csv")
y_train = pd.read_csv("data/y_train.csv")
x_test = pd.read_csv("data/X_test.csv")
y_test = pd.read_csv("data/y_test.csv")

x_train.head()

,StudentID,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,...,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2
0,1714,GP,F,18,U,GT3,T,4,3,other,...,no,4,3,3,1,1,3,0,14,13
1,1254,GP,F,17,U,GT3,T,4,3,health,...,yes,4,4,3,1,3,4,0,13,15
2,1639,GP,F,16,R,GT3,T,4,4,health,...,no,2,4,4,2,3,4,6,10,11
3,1118,GP,M,16,U,GT3,T,4,4,services,...,no,5,3,3,1,3,5,0,15,13
4,1499,GP,M,19,U,GT3,T,3,2,services,...,yes,4,5,4,1,1,4,0,5,0

# Preprocessing

In [3]:
x_train = x_train.drop(["StudentID","Mjob", "Fjob", "reason", "famsup", "Dalc", "Walc"], axis=1)
x_test = x_test.drop(["StudentID","Mjob", "Fjob", "reason", "famsup", "Dalc", "Walc"], axis=1)

In [4]:
y_train = y_train.drop(["StudentID"], axis=1)
y_test = y_test.drop(["StudentID"], axis=1)

In [5]:
b = ["schoolsup", "paid", "activities", "nursery", "higher", "internet", "romantic"]

for i in b:
    x_train[i] = (x_train[i] == 'yes').astype(int)
    x_test[i] = (x_test[i] == 'yes').astype(int)

In [6]:
x_train.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,guardian,traveltime,...,higher,internet,romantic,famrel,freetime,goout,health,absences,G1,G2
0,GP,F,18,U,GT3,T,4,3,father,1,...,1,1,0,4,3,3,3,0,14,13
1,GP,F,17,U,GT3,T,4,3,mother,1,...,1,1,1,4,4,3,4,0,13,15
2,GP,F,16,R,GT3,T,4,4,mother,1,...,1,0,0,2,4,4,4,6,10,11
3,GP,M,16,U,GT3,T,4,4,mother,1,...,1,1,0,5,3,3,5,0,15,13
4,GP,M,19,U,GT3,T,3,2,mother,1,...,0,1,1,4,5,4,4,0,5,0

In [7]:
def preprocess(x):
    x['school'] = (x['school'] == 'GP').astype(int)
    x['sex'] = (x['sex'] == 'M').astype(int)
    x['address'] = (x['address'] == 'U').astype(int)
    x['famsize'] = (x['famsize'] == 'GT3').astype(int)
    x['Pstatus'] = (x['Pstatus'] == 'T').astype(int)
    x["guardian"] = x.guardian.map({"mother": 1, "father": 2, "other" : 3})

In [8]:
preprocess(x_train)
preprocess(x_test)

In [9]:
scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.fit_transform(x_test)

# Models

In [10]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(x_train, y_train)
y_pred = model.predict(x_test)
mean_squared_error(y_test, y_pred)

2.9005590882603918

In [11]:
from sklearn.svm import SVR

model2 = SVR()
model2.fit(x_train,y_train)
y_pred2 = model2.predict(x_test)
mean_squared_error(y_test, y_pred2)

/home/lordraleigh/.local/lib/python3.11/site-packages/sklearn/utils/validation.py:1183: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

4.53207587079386